[server]
listen = 127.0.0.1:8001
# respond only for HTTP request with `path`, 404 for others
path = /some-secret-uri/

[telegram]
key = <telegram bot key>

[telegram-webhook]
url = https://test.ru/some-secret-uri/
max_connections = 5

[logger]
# only file type supported
type = file
# relative of absolute
filename = phpfuncbot.log

[redis]
server = tcp://127.0.0.1:6379
